.navigation-section {
  display: flex;
  flex-direction: center;
  padding: 10px 0;
  border-bottom: 2px solid #659DBD;
}
.navigation-section .nav-logo {
  display: flex;
  width: 20%;
  justify-content: center;
  font-family: 'Courgette', cursive;
}
.navigation-section .nav-left-div {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5rem;
}
.navigation-section .nav-left-div a {
  margin: 0 20px;
  color: #DAAD86;
  text-decoration: none;
}
.navigation-section .nav-left-div a:hover {
  text-decoration: underline;
  text-decoration-color: #659DBD;
}
@media (max-width: 500px) {
  .navigation-section .nav-left-div {
    text-align: center;
    margin: 1rem 0 0 0;
    line-height: 4rem;
    border-top: 1px solid #DAAD86;
  }
}
.navigation-section .nav-right-div {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5rem;
}
.navigation-section .nav-right-div a {
  margin: 0 2rem;
  color: #DAAD86;
  text-decoration: none;
}
.navigation-section .nav-right-div a:hover {
  text-decoration: underline;
  text-decoration-color: #659DBD;
}
@media (max-width: 500px) {
  .navigation-section .nav-right-div {
    text-align: center;
    line-height: 4rem;
    margin: 0 0 1rem 0;
    border-bottom: 1px solid #DAAD86;
  }
}
@media (max-width: 500px) {
  .navigation-section {
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.header-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 30px auto;
}
.header-section .header-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-section .header-left-div h2 {
  margin: 0 0 10px 0;
}
@media (max-width: 500px) {
  .header-section .header-left-div {
    margin: 0 0 10px 0;
  }
}
@media (max-width: 500px) {
  .header-section .header-left-div h2 {
    margin: 0 0 10px 0;
  }
}
.header-section .header-right-div {
  justify-content: center;
  align-items: center;
  width: 60%;
}
.header-section .header-right-div img {
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .header-section .header-right-div {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 2rem 0 0 0;
  }
}
@media (max-width: 500px) {
  .header-section {
    display: flex;
    flex-direction: column;
  }
}
.RV-carousel {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.RV-carousel img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}
@media (max-width: 500px) {
  .RV-carousel img {
    width: 80%;
    margin: 20px auto;
  }
}
@media (max-width: 500px) {
  .RV-carousel {
    display: flex;
    flex-direction: column;
  }
}
.RV-carousel figcaption {
  display: none;
}
@media (max-width: 500px) {
  .RV-carousel figcaption {
    display: inline;
    font-size: 2rem;
    color: #f7df87;
  }
}
.RV-carousel-headers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RV-carousel-headers div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  margin: 0 10px 0 10px;
}
@media (max-width: 500px) {
  .RV-carousel-headers {
    display: none;
  }
}
.rapport-graphics {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rapport-graphics img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}
@media (max-width: 500px) {
  .rapport-graphics img {
    width: 80%;
    margin: 20px auto;
  }
}
@media (max-width: 500px) {
  .rapport-graphics {
    display: flex;
    flex-direction: column;
  }
}
.rapport-graphics figcaption {
  display: none;
}
@media (max-width: 500px) {
  .rapport-graphics figcaption {
    display: inline;
    font-size: 2rem;
    color: #f7df87;
  }
}
.rapport-graphics-headers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rapport-graphics-headers div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 31%;
}
@media (max-width: 500px) {
  .rapport-graphics-headers {
    display: none;
  }
}
.bottom-section-image img {
  display: flex;
  max-width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .bottom-section-image img {
    width: 80%;
    margin: 20px auto;
  }
}
.footer-div {
  padding: 20px 0;
  margin: 30px 0 0 0;
  border-top: 2px solid #659DBD;
}
.footer-div p {
  text-align: center;
}
.footer-div a {
  color: #DAAD86;
  text-decoration: none;
}
.footer-div a:hover {
  text-decoration: underline;
  text-decoration-color: #659DBD;
}
.top-section h2,
.middle-section h2,
.bottom-section h2 {
  text-align: center;
  margin: 30px auto;
}
@media (max-width: 500px) {
  .top-section p {
    width: 80%;
    margin: 20px auto;
  }
}
.top-section-image img {
  display: flex;
  max-width: 100%;
  margin: 20px 0;
  border-radius: 10px;
}
@media (max-width: 500px) {
  .top-section-image img {
    width: 80%;
    margin: 20px auto;
  }
}
.middle-section-graphics {
  margin: 30px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-section-graphics img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17%;
  border-radius: 10px;
  margin: 0 10px 0 10px;
}
@media (max-width: 500px) {
  .middle-section-graphics img {
    width: 80%;
    margin: 20px auto;
  }
}
@media (max-width: 500px) {
  .middle-section-graphics {
    display: flex;
    flex-direction: column;
  }
}
.middle-section-graphics figcaption {
  display: none;
}
@media (max-width: 500px) {
  .middle-section-graphics figcaption {
    display: inline;
    font-size: 2rem;
    color: #f7df87;
  }
}
.middle-section-headers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.middle-section-headers div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
@media (max-width: 500px) {
  .middle-section-headers {
    display: none;
  }
}
@media (max-width: 500px) {
  .bottom-section p {
    width: 80%;
    margin: 20px auto;
  }
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 1000px;
  width: 100%;
  margin: 0 auto;
}
html,
body {
  font-family: 'Crimson Text', serif;
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlp2gwHKFkZgtmSR3NB0oRJfbwhW.ttf) format('truetype');
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format('truetype');
}
h1 {
  font-size: 5rem;
  color: #659DBD;
}
h2 {
  font-size: 4rem;
  color: #BC986A;
}
h3 {
  font-size: 2rem;
  color: #f7df87;
}
p {
  font-size: 1.5rem;
  color: #8D8741;
}
.iframe-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  border: 1px solid #DAAD86;
  max-width: 80%;
}
