.navigation-section {
  display: flex;
  flex-direction: center;
}
.navigation-section .nav-logo {
  display: flex;
  width: 20%;
  justify-content: center;
  font-family: 'Courgette', cursive;
}
.navigation-section .nav-left-div {
  display: flex;
  width: 40%;
  justify-content: flex-start;
  align-items: center;
  font-size: 2.5rem;
}
.navigation-section .nav-left-div a {
  margin: 0 20px;
  color: #DAAD86;
}
.navigation-section .nav-right-div {
  display: flex;
  width: 40%;
  justify-content: flex-end;
  align-items: center;
  font-size: 2.5rem;
}
.navigation-section .nav-right-div a {
  margin: 0 20px;
  color: #DAAD86;
}
.header-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.header-section .header-left-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header-section .header-right-div {
  justify-content: center;
  align-items: center;
  width: 60%;
}
.header-section .header-right-div img {
  justify-content: center;
  align-items: center;
  width: 100%;
}
.RV-carousel {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RV-carousel img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.RV-carousel-headers {
  display: flex;
  justify-content: center;
  align-items: center;
}
.RV-carousel-headers div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.rapport-graphics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.rapport-graphics img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}
.rapport-graphics-headers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.rapport-graphics-headers div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 33%;
}
footer {
  text-align: center;
}
.top-section h2,
.middle-section h2,
.bottom-section h2 {
  text-align: center;
}
.middle-section-graphics {
  display: flex;
  justify-content: center;
  align-items: center;
}
.middle-section-graphics img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
.middle-section-headers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.middle-section-headers div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
  border: 1px solid black;
}
html {
  font-size: 62.5%;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
html,
body {
  font-family: 'Crimson Text', serif;
}
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'), url(https://fonts.gstatic.com/s/crimsontext/v10/wlp2gwHKFkZgtmSR3NB0oRJfbwhW.ttf) format('truetype');
}
@font-face {
  font-family: 'Courgette';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Courgette Regular'), local('Courgette-Regular'), url(https://fonts.gstatic.com/s/courgette/v7/wEO_EBrAnc9BLjLQAUk1VvoP.ttf) format('truetype');
}
h1 {
  font-size: 5rem;
  color: #659DBD;
}
h2 {
  font-size: 4rem;
  color: #BC986A;
}
h3 {
  font-size: 2rem;
  color: #FBEEC1;
}
p {
  font-size: 1.5rem;
  color: #8D8741;
}
