.top-section h2, .middle-section h2, .bottom-section h2 {
    text-align: center;
    .default-margin();
}

.middle-section-graphics {
    .default-margin();
    .flex-center-center();
    img {
        .flex-center-center();
        width: 20%;
        @media @mobile {
			width: 80%;
			.mobile-default-margin();
		}
    }
    @media @mobile {
		display: flex;
		flex-direction: column;
    } 
    figcaption {
		display: none;
		}
		@media @mobile {
			figcaption {
				display: inline;
				font-size: 2rem;
				color: @h3-color;
			}
		}
}

.middle-section-headers {
	display: flex;
	justify-content: space-evenly;
	align-items: center;
    div {
        .flex-center-center();
        width: 20%;
    }
    @media @mobile {
		display: none;
	}
}