* {
  box-sizing: border-box;
  border: 1px solid black;
}

html {
  font-size: 62.5%;
}

.container {
	max-width: 1000px;
	width: 100%;
	margin: 0 auto;
}

html, body {
  font-family: @main-font;
} 

@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courgette&display=swap');

h1 {
  font-size: 5rem;
  color: @h1-color;
}

h2 {
  font-size: 4rem;
  color: @h2-color;
}

h3 {
  font-size: 2rem;
  color: @h3-color;
}

p {
  font-size: 1.5rem;
  color: @p-color;
}
