.container-home {
	max-width: 800px;
	width: 100%;
	margin: 0 auto;
}

.navigation-section {
  display: flex;
  flex-direction: center;
}

.nav-logo {
  display: flex;
  width: 20%;
  justify-content: center;
}

.nav-left-div {
  display: flex;
  width: 40%;
  justify-content: flex-start;
}

.nav-left-div nav-left a {
	margin: 0 20px;
}

.nav-right-div {
  display: flex;
  width: 40%;
  justify-content: flex-end;
}

.nav-right-div nav-right a {
	margin: 0 20px;
}

.header-section {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.header-left-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.header-right-div {
	justify-content: center;
	align-items: center;
	width: 60%;
}

.header-right-div img {
	justify-content: center;
	align-items: center;
	width: 100%;
}

.RV-carousel {
	display: flex;
	justify-content: center;
	align-items: center;
}

.RV-carousel img {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-between;
	width: 20%;
}

.rapport-graphics {
	display: flex;
	justify-content: center;
	align-items: center;
	justify-content: space-evenly;
}

footer {
	text-align: center;
}